/* Color palette
 * Dark blue - #1A467D
 */

@media {
    
    body {
        background-color:beige;
    }
    
    img {
        width: 100%;
    }

    #topper {
        background-image: url(oakImage-1708010573771-superJumbo.jpg);
        background-size: cover;
        background-position: 10% 10%;
        height: 80vh;
        /*background-color:#1A467D;*/
    }

    h1 {
        padding: 10px 10px 10px 10px;
        margin: 300px 100px 0px 0px;
        background-color: #000000;
        color: white;
    }

    .caption {
        font-size: 12px;
    }

    .credit {
        font-weight: bold;
        color: gray;
        text-transform: uppercase;
    }

    .date {
        text-align: center;
    }

    #content {
        width: 100%;
        font-size: 15px;
    }

    .inlineimage {
        width: 100%;
    }

    .pullquote {
        border-left: 3px solid #1a467d;
        background-color: beige;
        text-align: center;
        padding: 10px 30px 10px 30px;
        margin: 20px 0px 20px 0px;
        width:100%;
        float:right;
    }

    .quote {
        font-size: 50px;
    }

    .attribution {
    }

    .quotemark {
        font-size: 120px;
        float: left;
        line-height: 50px;
        font-family: "Bitter", serif;
    }
    
    a {
        color:#1A467D;
    }
}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }
    
    .pullquote {
        width:50%;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }
}
