/* Color Pallete /
--raisin-black: #272932ff;
--steel-blue: #4d7ea8ff;
--gray: #828489ff;
--rose-quartz: #9e90a2ff;
--powder-blue: #b6c2d9ff; #CAD2E3
--dust-green: #798071 */

/* Phone width media query : default 576 max */
@media {
    body {
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
        background-color: #cad2e3;
    }

    .content {
        width: 100%;
        margin-top: 10px;
    }

    img {
        width: 100%;
    }
    #topper {
        position: relative; /* Ensure positioning context */
        width: 100%; /* Ensure full width */
        height: 80vh; /* 100vh Make it cover the entire viewport height */
        overflow: hidden; /* Hide overflowing content */
    }

    h1 {
        font-family: "Libre Baskerville, serif";
        font-weight: 600;
        font-style: normal;
        position: absolute; /* Position absolutely to fill screen */
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0 0 20px 0;
        padding: 50px 0 20px 0;
        background-color: rgba(
            202,
            210,
            227,
            1
        ); /* Semi-transparent background */
        z-index: 1; /* Ensure it's above the background image */
        color: #272932ff;
        font-size: 40px; /* Adjust font size as needed */
    }

    h1,
    h2 {
        text-align: center; /* Center align text */
    }

    h2 {
        font-family: "Libre Baskerville, serif";
        font-weight: 400;
        font-style: normal;
        font-size: 30px; /* Adjust font size as needed */
        margin-top: 1px; /* Add margin top as needed */
        color: #52564d;
    }

    p {
        font-size: 20px;
        color: #272932ff;
        font-family: "Libre Baskerville, serif";
        font-weight: 400;
        font-style: normal;
    }

    #background-image {
        position: relative; /* Ensure positioning context */
        width: 100%; /* Ensure full width */
        height: auto; /* Allow image to adjust height */
        z-index: 0; /* Ensure it's behind the text */
        background-size: cover;
        margin-top: 180px;
    }
    #captions {
        position: absolute; /* Position absolutely */
        bottom: 50px; /* Adjust as needed */
        left: 50%; /* Align to center */
        transform: translateX(-50%); /* Center horizontally */
        z-index: 1; /* Ensure it's above the background image */
        background-color: #9e90a2ff;
        padding: 10px; /* Add padding */
        text-align: center; /* Center align text */
        color: #272932ff;
        font-family: "Libre Baskerville, serif";
        font-weight: 200;
        font-style: italic;
        border: inset;
        border-width: 5px;
        border-color: #272932;
    }
    .caption {
        font-size: 15px;
        color: #828489;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
    }

    .byline {
        font-weight: 600;
        font-size: 15px;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
    }
    .date {
        font-size: 13px;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
    }

    .credit {
        font-size: 13px;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
    }

    .info {
        padding: 10px 10px;
        border-top: solid;
        border-top-color: rgba(0, 0, 0, 0.1);
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
    }

    .flourish-embed {
        background-color: white;
    }
    .pullquote {
        font-family: "Libre Baskerville, serif";
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding: 5px 30px 20px 30px; /* Adjusted padding */
        margin: 1px 1px 0 1px;
        background-color: #9e90a2ff;
        width: fit-content;
        border-style: inset;
        border-width: 5px;
        border-color: #272932ff;
        /* float: left; */ /* Remove float property */
    }

    .quotemark-l {
        font-size: 30px;
        float: left;
        line-height: 80px;
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-style: normal; /*dd google font later */
    }
    .quotemark-r {
        font-size: 30px;
        float: right;
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-style: normal; /*dd google font later */
    }
    .quote {
        font-size: 33px;
        color: #272932ff;
        font-family: "Libre Baskerville, serif";
    }

    .attribution {
        font-size: 100%;
    }

    #disclaimer {
        font-size: 12px;
        color: #828489;
    }

    @media (min-width: 576px) {
        .content {
            width: 90%;
        }
        #captions {
            position: absolute; /* Position absolutely */
            bottom: 310px; /* Adjust bottom spacing */
            padding: 5px; /* Adjust padding */
            left: 50%;
            text-align: center; /* Center align text */
            font-size: 20px; /* Adjust font size */
            width: 80%; /* Adjust width */
            background-color: #9e90a2ff;
            border-width: 3px;
            color: #272932ff;
        }

        #topper {
            height: fit-content;
        }

        .background-image {
            margin-top: 10px;
            width: auto;
        }

        h1 {
            padding: 30px 30px;
        }

        .pullquote {
            text-align: center;
            width: fit-content;
        }
    }

    @media (min-width: 992px) {
        .content {
            width: 50%;
        }
        /* styles for devices lile laptop */
        img {
            margin-bottom: 5px;
        }
        .outline-content {
            width: 70%;
            align-content: center;
        }

        .pullquote {
            width: 100%;
        }
        body {
            margin: 0; /* Remove default body margin */
            padding: 0; /* Remove default body padding */
        }

        /*img {
        width: 100%;
    }*/
        #topper {
            position: relative; /* Ensure positioning context */
            width: 100%; /* Ensure full width */
            height: 100vh; /* Make it cover the entire viewport height */
            overflow: hidden; /* Hide overflowing content */
        }

        h1 {
            font-weight: 600;
            font-size: 50px;
            position: absolute; /* Position absolutely to fill screen */
            /*top: 0;
            left: 0;*/
            width: 100%; /* Fill the entire screen */
            text-align: center; /* Center align text */
            margin: 0; /* Remove any margin */
            padding: 20px 0 20px 0;
        }

        h2 {
            font-size: 30px;
            padding-bottom: 10px;
            margin-top: 15px;
        }

        p {
            font-size: 20px;
        }

        #background-image {
            position: relative; /* Ensure positioning context */
            width: 100%; /* Ensure full width */
            height: auto; /* Allow image to adjust height */
            z-index: 0; /* Ensure it's behind the text */
            background-size: cover;
            margin-top: 10px;
            padding-bottom: 10px;
        }
        #captions {
            position: absolute; /* Position absolutely */
            bottom: 20px; /* Adjust as needed */
            left: 70%; /* Align to center */
            transform: translateX(-50%); /* Center horizontally */
            z-index: 1; /* Ensure it's above the background image */
            padding: 5px; /* Add padding */
            text-align: center; /* Center align text */
            font-size: 25px;
            width: 40%;
        }
        .caption {
            font-size: 15px;
            color: #828489;
        }

        .byline {
            font-weight: 600;
            font-size: 15px;
        }
        .date {
            font-size: 13px;
        }

        .credit {
            font-size: 13px;
        }

        .info {
            padding: 10px 10px;
            border-top: solid;
            border-top-color: rgba(0, 0, 0, 0.1);
        }
        /* Pull Quote Css */
        .pullquote {
            text-align: center;
            margin: 1px 1px 5px 1px;
            width: 100%;
            padding: 10px 30px 10px 30px; /* Adjusted padding */
        }
    }

    .quotemark-l {
        font-size: 120px;
        float: left;
        line-height: 80px;
    }
    .quotemark-r {
        font-size: 120px;
    }
    .quote {
        font-size: 33px;
    }

    .attribution {
        font-size: 100%;
    }

    #disclaimer {
        font-size: 12px;
    }
}