
@media{

img {
    width:100%;
    border-radius:50%;
    margin:20px;
    padding:40px;
    }

h1 {
    margin:40px 0px 10px 0px;
    font-size:40px;
    font-family:"Dancing Script", cursive;
    padding:15px;
}

    #topper{
        background-color:#4A0638;
        color:white;
    }   
    
h2 {
    font-family: "Montserrat", sans-serif;
    text-align:center;
    padding:10px;

    }
    
#nav {
   padding:10px 60px 10px 60px;
    text-align:center;
    background-color:#03420C;
    color:white;
    }
    
button {
       padding:10px;
       border-radius:15px;
       background-color:white;
    
    }
    
    }

}

    
}

@media (min-width:576px){
    h1 {
    margin:40px 0px 10px 40px;
    font-size:60px
    }
}