body {
    background-color: red;
    border: none;
    color: white;
    font-size: 30px;
    width: 200x;
}

h1 {
    background-color: red;
    border: none;
    color: white;
    font-size: 30px;
    width: 200x;
}
p {
    background-color: red;
    border: none;
    color: white;
    font-size: 30px;
    width: 200x;
}
