@media {
    body {
        font-family: Georgia serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    #date {
        color: gray;
        font-size: 12px;
    }

    #byline {
        font-weight: bold;
    }

    img {
        width: 100%;
    }

    #footer {
        width: 100%;
        background-color: darkred;
        color: white;
        position: fixed bottom left;
        padding: 10px 10px 10px 10px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }
}
