.attribution {
    margin:20px 0px 0px 0px;
}

#quotebox {
    background-image:url("michael_scott_the_office_us_uk_png_dwight_schrute_by_deadnie1_dgqxlun-fullview.png");
    padding:200px 0px 200px 0px;
    background-size: cover;
}